# vim: ft=gitconfig
[user]
	name = yokenzan
	email = 31175068+yokenzan@users.noreply.github.com
[core]
	autocrlf = false
	filemode = false
	editor = vim
	quotepath = false
[url "git@github.com:"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[url "http://"]
	insteadOf = git://
[url "https://"]
	insteadOf = git://
[color]
	ui = true
[http]
	sslVerify = false
[merge]
	ff = false
	tool = vimdiff
[pull]
	ff = only
[alias]
    ls = ls-files
    co = checkout
    mt = mergetool
    current =!git status --branch | head -1 | sed -e 's/On branch //g'
[rerere]
	enabled = true
